<div class="sidebar-content">
        
  <!-- <a  routerLink="/dashboard">Dashboard</a><br> -->
  <a  routerLink="/manage-users">Manage Users</a><br>
<!-- <a  routerLink="/list-categorie">Product Categories</a><br> -->
<a  routerLink="/manage-templates">Manage Templates</a><br>
<!-- <a  routerLink="/manage-orders">Manage Orders</a><br> -->
<a  routerLink="/manage-reports">Manage Reports</a><br>
<a  routerLink="/push-notifications">Push Notifications</a><br>
<a  routerLink="/privacy-policy">Privacy Policy</a><br>
<a  routerLink="/terms-conditions">Terms & Conditions</a>

</div>