/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
overflow-y: hidden;
}

.navbar {
    padding-left: 0 !important;
    z-index: 1041;
    flex-shrink: 0;
  }

.sidebar-content {

    height: 50%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    color: white;
    font-size: 12px;
    padding-top: 0px;

}
.sidebar-content a {
     color: white; 
     padding-top: 0%;
     
}
.sidebar-content a:active{  
    color: skyblue;  
    text-decoration: none;
     }  

     .sidebar-content  a:hover { text-decoration: none; }

     .main-content {
      margin-left: 200px; /* Same as the width of the sidenav */
      margin-right:12px;
      font-size: 15px; /* Increased text to enable scrolling */
      padding-left: 15px;
    
      overflow: hidden !important;
      height:100%;
      overflow-y: scroll;
  position: relative;
    }

  
   .sidebar-content::-webkit-scrollbar {
      display: none;
    
  }